{% extends "base_generic.html" %}

{% block title %}
<title>VK Oauth</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h3><a href="{% url 'index' %}">Главная</a></h3>
    </div>
    {% if vk_oauth_url is not None %}
        <p>
            <a href="{{ vk_oauth_url }}">Зайти через ВК</a>
        </p>
    {% endif %}
    {% if vk_message is not None %}
        <p>
            {{ vk_message }}
        </p>
    {% endif %}
</div>
{% endblock %}
