{% extends "base_generic.html" %}

{% block title %}
<title>VK Oauth</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h3><a href="{% url 'index' %}">Главная</a></h3>
    </div>

    {% if vk_user is not None %}
        <p>
            Привет, <a href="{{ vk_user.get_user_link }}">{{ vk_user.get_username }}</a>
        </p>
    {% elif vk_oauth_url is not None %}
        <p>
            <a href="{{ vk_oauth_url }}" class="btn btn-default btn-sm" role="button">Авторизоваться</a>
        </p>
    {% endif %}

    {% if vk_message is not None %}
        <p>
            {{ vk_message }}
        </p>
    {% endif %}

    {% if vk_friends is not None %}
        <p>
            Друзья: <br>
            <ul>
            {% for vk_friend in vk_friends %}
                <li><a href="{{ vk_friend.get_user_link }}">{{ vk_friend.get_username }}</a></li>
            {% endfor %}
            </ul>
        </p>
    {% endif %}
</div>
{% endblock %}
