{% extends "base_generic.html" %}

{% block title %}
<title>Forms</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h3><a href="{% url 'forms-index' %}">Главная</a></h3>
    </div>
</div>

<div class="container">
    {% if user.is_authenticated %}
        <p>
            Привет, {{ user.get_username }}. <a href="{% url 'forms-logout' %}">Разлогиниться</a>
        </p>
        <p>
            Отправить письмо
        </p>
    {% else %}
        {% if msg_error is not None %}
            <p>
                {{ msg_error }}
            </p>
        {% endif %}

        <p>
            <a href="{% url 'forms-login' %}">Войти</a> или <a href="{% url 'forms-signup' %}">Зарегистрироваться</a>
        </p>
    {% endif %}
</div>

{% endblock %}
