{% extends "test_forms/page_with_header.html" %}

{% block title %}
    <title>Лог сообщений</title>
{% endblock %}

{% block inner_content %}
    <ul class="list-group">
        {% if logs is not None %}
        <div class="row">
            <div class="col-md-3">Дата</div>
            <div class="col-md-3">Успешность</div>
        </div>
        {% endif %}
        {% for log in logs %}
            <div class="row">
                <div class="col-md-3">{{ log.date }}</div>
                <div class="col-md-3">{{ log.is_success }}</div>
            </div>
        {% endfor %}
    </ul>
{% endblock %}