{% extends "base_generic.html" %}

{% block title %}
<title>Пользователи</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h3><a href="{% url 'forms-index' %}">Главная</a></h3>
    </div>
</div>

{% if user.is_authenticated %}
    <div class="container">
        <ul class="list-group">
            {% if users is not None %}
            <div class="row">
                <div class="col-md-3">Логин</div>
                <div class="col-md-3">email</div>
                <div class="col-md-3">Дата создания</div>
                <div class="col-md-1"></div>
            </div>
            {% endif %}
            {% for curr_user in users %}
                <div class="row">
                    <div class="col-md-3">{{ curr_user.username }}</div>
                    <div class="col-md-3">{{ curr_user.email }}</div>
                    <div class="col-md-3">{{ curr_user.date_joined }}</div>
                    <div class="col-md-1">
                        {% if user.username == curr_user.username %}
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% endblock %}