{% extends "base_generic.html" %}

{% block title %}
<title>Test DFR</title>
{% endblock %}

{% block js %}
<script language='JavaScript'>
    function httpGet()
    {
        var textInput = document.getElementById('textInput');
        var text = textInput.value;
        textInput.value = ""
        // todo: не будет ли тут инъекции?
        url = '{{ search_url }}' + text

        var x = new XMLHttpRequest();
        x.open('GET', url, true);
        x.onload = function () {
            var ul = document.getElementById('phoneBooksList');
            ul.innerHTML = ''
            if (x.status != 200) {
                var li = document.createElement('li');
                if (x.status == 404) {
                    li.innerHTML = 'Ничего не найдено'
                } else if (x.status == 422) {
                    li.innerHTML = 'Недостаточная длина вводимого текста'
                } else {
                    li.innerHTML = x.status + '(' + x.statusText + ')';
                }
                ul.appendChild(li);
            } else {
                var arrPhoneBook = JSON.parse(x.responseText)
                for (itemPhoneBook of arrPhoneBook) {
                    var li = document.createElement('li');
                    li.innerHTML = itemPhoneBook.name + ', ' + itemPhoneBook.phone
                    ul.appendChild(li);
                }
            }
        }
        x.send(null);
        return ;
    }
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h3><a href="{% url 'drf-index' %}">Главная</a></h3>
    </div>

    <div class="container">
        <h4>Поиск по имени</h4>
        <form>
            <input type = "text" id="textInput" size="20" placeholder="Введите имя">
            <input type = "button" onclick="httpGet()" id="addButton" value="Поиск">
        </form>
        <br>
        <p>
            Результат:
        </p>
        <ul id = "phoneBooksList">
        </ul>
    </div>
</div>
{% endblock %}
